OLLAMA_PORT=10000
CONTAINER_NAME=test-ollama-container

OLLAMA_MODELS_DIR=./ollama_models
DEFAULT_MODEL=qwen3.5:9b

# dont use this; IS&T requires port forwarding 
#CLUSTER_HOST=dgx0.chapman.edu
CLUSTER_HOST=localhost
CLUSTER_USER=YOUR_USERNAME

# NVIDIA_VISIBLE_DEVICES=all
# NVIDIA_DRIVER_CAPABILITIES=compute,utility